<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}} for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>
</div>
<h2>Here are some list items to get started: </h2>
<ol>
  <li *ngFor="let currentRecipe of recipes">{{currentRecipe.name}}</li>
  <ul>
    <li
      *ngFor="let currentRecipe of recipes">{{currentRecipe.description}}
    </li>
    <li
      *ngFor="let currentRecipe of recipes">{{currentRecipe.ingredients}}
    </li>
  </ul>
</ol>
